<!DOCTYPE html>
<html>
{{partial "head.html" . }}

<body class="page-blog-post layout-default" ng-app="">

    <!-- Header -->
    {{partial "header.html"}}




    <!-- Content -->
    <div id="layout-content">
        {{ partial "blog-breadcrumb.html" . }}
        <div class="blogPage">

            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        
                        {{ .Content }}
                        {{ partial "blog-sharing.html" . }}
                        {{ partial "blog-related.html" . }}
                    </div>

                    {{ partial "blog-sidebar.html" . }}
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{ partial "footer.html" . }}
    <script src="{{"/js/609f13f24b22bae4802357d7ca56c4ef-1510181834.js" | relURL }}"></script>

    <script type="text/javascript">
        _linkedin_partner_id = "362852";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
        (function () {
            var s = document.getElementsByTagName("script")[0];
            var b = document.createElement("script");
            b.type = "text/javascript";
            b.async = true;
            b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
            s.parentNode.insertBefore(b, s);
        })();
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt=""
            src="https://dc.ads.linkedin.com/collect/?pid=362852&fmt=gif" />
    </noscript>
    <script src="{{"/js/framework.js" | relURL }}"></script>
    <script src="{{"/js/framework.extras.js" | relURL }}"></script>
    <link rel="stylesheet" property="stylesheet" href="{{"/css/framework.extras.css" | relURL }}">
    <script src="{{"/js/bootstrap.js" | relURL }}"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{"/js/main.js" | relURL }}"></script>


</body>

</html>