<div class="RelatedPostSection">
    {{ if .Params.Related }}
    <h3>Related posts:</h3>
    {{ end }}
    <div class="row">
        {{ $site := .Site.BaseURL }}
        
       

        {{ range .Params.Related }}
        {{ $link := index . 0 }}
        {{ $text := index . 1 }}
        {{ $image := index . 2 }}
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <img data-src="blog_cio_advisor_article_purple_security.jpg"
                        src="{{ $image | relURL }}"
                        alt="" style="max-width: 100%">
                </div>
                <div class="col-md-7">
                    <a href="{{ $site }}/blog/post/{{ $link }}">{{ $text }}</a>
                    <p class="info PostDate">
                        <!-- <i class="icon-calendar3"></i>  -->
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        {{ end }}
    </div>


</div>