
                    <div class="col-sm-3 blogSideBar">
                        <h2 class="sidebarSectionTitle">Recent Posts</h2>
                        {{ range ( first 5 ( where .Site.Pages "Type" "blog" ).ByDate ) }}
                        <div class="recent-post-list">
                            <div class="RecentPostSidebar">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img data-src="huonit-blog-cyber-newsletter-jun2020.png"
                                            src="{{ .Params.featured_image | relURL }}"
                                            alt="" style="max-width: 100%" />
                                    </div>
                                    <div class="col-md-8">
                                        <a
                                            href="{{ .Permalink }}">{{ .Title }}</a>

                                        <p class="info RecentPostSidebarDate">
                                            Posted on {{ .Date.Format "Jan 02, 2006" }}
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>                            
                        </div>
                        {{ end }}
                        

                        <ul class="pagination hidden">

                            <li class="active">
                                <a href="https://www.huonit.com.au/blog/post/huon-it-nutanix-partnership">1</a>
                            </li>
                            <li class="">
                                <a href="https://www.huonit.com.au/blog/post/huon-it-nutanix-partnership">2</a>
                            </li>
                            <li class="">
                                <a href="https://www.huonit.com.au/blog/post/huon-it-nutanix-partnership">3</a>
                            </li>
                            <li class="">
                                <a href="https://www.huonit.com.au/blog/post/huon-it-nutanix-partnership">4</a>
                            </li>
                            <li class="">
                                <a href="https://www.huonit.com.au/blog/post/huon-it-nutanix-partnership">5</a>
                            </li>
                            <li class="">
                                <a href="https://www.huonit.com.au/blog/post/huon-it-nutanix-partnership">6</a>
                            </li>

                            <li><a href="https://www.huonit.com.au/blog/post/huon-it-nutanix-partnership">Next
                                    &rarr;</a></li>
                        </ul>
                        <h2 class="sidebarSectionTitle">Categories</h2>

                        <ul class="sidebarCategories">                            
                            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                                <li><a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" class="list-group-item">{{ $name }}</a></li>
                            {{ end }}
                        </ul>
                        <h2 class="sidebarSectionTitle">Quick Contact</h2>
                        <iframe src="https://go.pardot.com/l/147081/2017-07-06/25hz7j" width="100%" height="500"
                            type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
                    </div>