<div class="social_sharing">
    <div class="row">
        <div class="col-md-5"><label>Share this post:</label></div>
        <div class="col-md-7">
            <div class="SocialSharingButtons">
                <ul class="share-buttons share-buttons-png">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.huonit.com.au%2Fblog%2Fpost%2Fhuon-it-nutanix-partnership"
                            title="Share on Facebook" target="_blank"><img
                                src="{{"/img/facebook.png" | relURL }}"
                                alt="Facebook"></a></li>
                    <li><a href="https://twitter.com/share?url=https%3A%2F%2Fwww.huonit.com.au%2Fblog%2Fpost%2Fhuon-it-nutanix-partnership&amp;text=Blog+Post"
                            title="Share on Twitter" target="_blank"><img
                                src="{{"/img/twitter.png" | relURL }}"
                                alt="Twitter"></a></li>
                    <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.huonit.com.au%2Fblog%2Fpost%2Fhuon-it-nutanix-partnership"
                            title="Share on Google+" target="_blank"><img
                                src="{{"/img/googleplus.png" | relURL }}"
                                alt="Google+"></a></li>
                    <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.huonit.com.au%2Fblog%2Fpost%2Fhuon-it-nutanix-partnership&amp;title=Blog+Post"
                            title="Share on LinkedIn" target="_blank"><img
                                src="{{"/img/linkedin.png" | relURL }}"
                                alt="LinkedIn"></a></li>
                    <li><a href="mailto:?subject=Blog+Post&amp;body=Blog+Post:%20https%3A%2F%2Fwww.huonit.com.au%2Fblog%2Fpost%2Fhuon-it-nutanix-partnership"
                            title="Email" target="_blank"><img
                                src="{{"/img/email.png" | relURL }}"
                                alt="Email"></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>