<footer id="layout-footer">

    <div class="footer-bar clear-fix">
        <div class="footer_top_part">
            <div class="container">
                <div class="innerContainer">
                    <div class="col-md-3 columnOne PadLeftNone">
                        <h3><img src="{{"/img/hounit_logo_footer.png" | relURL }}" style="width:180px;" />
                        </h3>
                        <p>Huon IT specialise in Professional IT support to assist Australian organisations with a
                            wide range of services.</p>
                        <p><strong><a href="/get-touch/contact-us">SYDNEY</a> | <a
                                    href="/get-touch/contact-us">MELBOURNE</a></strong><br />
                            <p><strong>Postal Address:</strong><br />
                                PO BOX 390<br /> Frenchs Forest NSW 1640</p>
                            <p>Phone: <a href="tel:1300 4866 48">1300 HUON IT (4866 48)</a><br />Support Desk: <a
                                    href="tel:1300 4866 73">1300 HUON SD (4866 73)</a><br />
                                Fax: +61 2 8401 8088<br />
                                Email: <a href="mailto:info@huonit.com.au">info@huonit.com.au</a>
                            </p>
                    </div>
                    <div class="col-md-2 columnTwo">
                        <h3>About</h3>
                        <ul class="nav">

                            <li class=" ">
                                <a href="/what-we-do">What We Do</a>
                            </li>


                            <li class=" ">
                                <a href="/what-we-do/security-networking/secure-networking">Strategy</a>
                            </li>


                            <li class=" ">
                                <a href="/what-we-do/managed-services/proactive-monitoring">Managed
                                    Services</a>
                            </li>


                            <li class=" ">
                                <a href="/what-we-do/project-services/it-systems-design-architecture">Project Services</a>
                            </li>


                            <li class=" ">
                                <a href="/what-we-do/cloud/office-365">Cloud</a>
                            </li>


                            <li class=" ">
                                <a href="/what-we-do/software-development/application-integration">Software
                                    Development</a>
                            </li>


                            <li class=" ">
                                <a href="/who-we-are/our-story">Who We Are</a>
                            </li>


                            <li class=" ">
                                <a href="/blog">Insights</a>
                            </li>


                            <li class=" ">
                                <a href="/get-touch/contact-us">Get in touch</a>
                            </li>


                        </ul>

                    </div>
                    <div class="col-md-3 columnThree">
                        <h3>Latest Posts</h3>
                        {{ range ( first 3 ( where .Site.Pages "Type" "blog" ).ByDate ) }}
                        <div class="news-container">
                            <div class="module-news">
                                <div class="news">
                                    <a href="{{ .Permalink }}">{{ .Params.Title }}</a>.
                                    <!--<p>Australia’s Prime Minister announced that Australia was being hit with a massive cyber attack. Read the recommendations for Australian businesses.</p>-->
                                </div>
                                <div class="calendar">
                                    <span class="month">{{ .Params.Date.Format "02 January 2006" }}</span>
                                </div>

                            </div>
                            
                        </div>
                        {{ end }}
                    </div>
                    <div class="col-md-4 columnFour PadRightNone">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>IT SECURITY E-BOOK</h3>
                                <p><strong>10 IT security essentials that every Australian business needs to
                                        know.</strong></p>
                                <p><strong>Download a free copy of our IT security e-book.</strong></p>
                                <p>Enter your details below.</p>
                            </div>
                            <div class="col-md-6 form-group">
                                <img src="{{"/img/footer_eBook_huon.png" | relURL }}"
                                    class="img-responsive inlineBlock" />
                            </div>
                        </div>
                        <div class="footer_subscriber">
                            <!--<form accept-charset="UTF-8" method="post" action="http://www2.huonit.com.au/l/147081/2017-06-16/25dgxd" class="subscribeForm" id="pardot-form">-->
                            <!--<div class="form-field  first_name pd-text required form-group">-->
                            <!--<input type="text" name="First_Namepi_First_Name" placeholder="Enter your First Name" id="First_Namepi_First_Name" value="" class="form-control" size="30" maxlength="40" onchange="">-->
                            <!--</div>-->
                            <!--<div class="form-field  last_name pd-text required  form-group">-->
                            <!---->
                            <!--<input type="text" name="Last_Namepi_Last_Name" placeholder="Enter your Last Name" id="Last_Namepi_Last_Name" value="" class="form-control" size="30" maxlength="80" onchange="">-->
                            <!--</div>-->
                            <!--<div class="form-field  email pd-text required form-group relative SubscribeBtnDiv">-->
                            <!--<input type="text" name="Emailpi_Email" id="Emailpi_Email" value="" placeholder="Enter your Email" class="form-control" size="30" maxlength="255" onchange="piAjax.auditEmailField(this, 147081, 36461, 27849521);">-->
                            <!--<input type="submit" accesskey="s" value="Download" class="subscribeBtn">-->
                            <!--</div>-->
                            <!--</form>-->
                            <iframe src="https://go.pardot.com/l/147081/2017-10-12/2kxj1x" width="100%" height="133"
                                type="text/html" frameborder="0" allowTransparency="true"
                                style="border: 0"></iframe> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="innerContainer relative">
                    <div class="col-md-6 PadLeftNone">
                        <div>Copyright &copy; 2017. All Rights Reserved by Huon IT.<br />Site by <a
                                href="http://www.saidesigns.com.au" target="_blank">Slate
                                Creative</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;ABN 45 117 675
                            153</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a
                                href="/pdf/huon-it-general-terms.pdf" target="_blank">Terms &
                                Conditions</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/privacy-policy"
                                target="_self">Privacy Policy</a></div>
                    </div>
                    <div class="col-md-6 PadRightNone">
                        <div class="pull-right"><a href="mailto:info@huonit.com.au">info@huonit.com.au</a> . <a
                                href="tel:1300 4866 48">1300 HUON IT (4866 48)</a> .
                            <a href="https://www.linkedin.com/company-beta/3553684/" target="_blank"><i
                                    class="icon-linkedin-sign" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/huon_it" target="_blank"><i class="icon-twitter-sign"
                                    aria-hidden="true"></i></a>
                        </div>

                    </div>
                    <div class="StickyContact"><a href="/get-touch/contact-us">Contact +</a></div>
                    <div class="clear-fix"></div>
                </div>
            </div>
        </div>
</footer>