<header id="layout-header" class="header-navbar">
    <!-- Nav -->


    <nav id="layout-nav" class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"></a>
            </div>
            <ul class="nav navbar-right SearchMedia">
                <li class="SocialMedia">
                    <a href="https://www.linkedin.com/company/huon-it" target="_blank"><i class="icon-linkedin"
                            aria-hidden="true"></i></a>
                </li>
                <li class="SocialMedia" style="display:none;">
                    <a href="https://twitter.com/huon_it" target="_blank"><i class="icon-twitter"
                            aria-hidden="true"></i></a>
                </li>
                <li class="SearchIcon">
                    <!-- <a href"#" onClick="toogleSearchForm()"><i class="icon-search3" aria-hidden="true"></i></a> -->
                    <a href="#" id="SearchOpen"><i class="icon-search3" aria-hidden="true"></i></a>
                </li>
            </ul>

            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/what-we-do">What We Do</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="/what-we-do/strategy/it-health-checks"> <i
                                        class="icon-line2-bulb"></i>
                                    Strategy</a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a href="/what-we-do/strategy/it-health-checks"> IT
                                            Health Check</a>
                                    </li>

                                    <li class=" ">
                                        <a href="/what-we-do/strategy/cio-service"> CIO as
                                            a Service</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/strategy/it-continuity-planning">
                                            IT Continuity Planning</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/strategy/it-mergers-acquisitions-divestments">
                                            IT for Mergers, Acquisitions &amp; Divestments</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                    href="/what-we-do/managed-services/proactive-monitoring"> <i
                                        class="icon-line-cog"></i>
                                    Managed Services</a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a
                                            href="/what-we-do/managed-services/proactive-monitoring">
                                            Proactive Monitoring</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/managed-services/24x7-helpdesk">
                                            24 x 7 HelpDesk</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/managed-services/fixed-price-it-management">
                                            Fixed Price IT Management</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/managed-services/ad-hoc-block-hours-onsite-support">
                                            Ad Hoc, Block Hours &amp; Onsite Support</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                    href="/what-we-do/project-services/it-systems-design-architecture"> <i
                                        class="icon-line-shuffle"></i>
                                    Project Services</a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a
                                            href="/what-we-do/project-services/it-systems-design-architecture">
                                            IT Systems Design &amp; Architecture</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/project-services/project-implementation-services">
                                            Project Implementation Services</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/project-services/it-project-management">
                                            IT Project Management</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" href="/what-we-do/cloud/office-365"> <i
                                        class="icon-line-cloud-download"></i>
                                    Cloud</a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a href="/what-we-do/cloud/office-365"> Office
                                            365</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/cloud/azure-infrastructure-service">
                                            Azure Infrastructure as a Service</a>
                                    </li>

                                    <li class=" ">
                                        <a href="/what-we-do/cloud/private-hybrid-cloud">
                                            Private &amp; Hybrid Cloud</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/cloud/disaster-recovery-service">
                                            Disaster Recovery as a Service</a>
                                    </li>

                                    <li class=" ">
                                        <a href="/what-we-do/cloud/backup-service"> Backup
                                            as a Service</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                    href="/what-we-do/software-development/application-integration"> <i
                                        class="icon-line-monitor"></i>
                                    Software Development</a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a
                                            href="/what-we-do/software-development/application-integration">
                                            Application Integration</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/software-development/power-bi">
                                            Power BI</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/software-development/microsoft-dynamics-365">
                                            Microsoft Dynamics 365</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                    href="/what-we-do/security-networking/secure-networking"> <i
                                        class="icon-line-lock"></i>
                                    Security &amp; Networking</a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a
                                            href="/what-we-do/security-networking/secure-networking">
                                            Secure Networking</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/security-networking/security-as-service">
                                            Security as a Service</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/security-networking/penetration-testing">
                                            Penetration Testing</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/security-networking/vulnerability-assessments">
                                            Vulnerability Assessments</a>
                                    </li>

                                    <li class=" ">
                                        <a href="/what-we-do/cybersecurity-maturity">
                                            Cybersecurity Maturity</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/cybersecurity-awareness-training">
                                            Cybersecurity Awareness Training</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                    href="/what-we-do/connectivity-collaboration/collaboration-tools">
                                    <i class="icon-wifi-full"></i>
                                    Connectivity &amp; Collaboration</a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a
                                            href="/what-we-do/connectivity-collaboration/collaboration-tools">
                                            Collaboration Tools</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/connectivity-collaboration/voip-telephony">
                                            VoIP &amp; Telephony</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/connectivity-collaboration/video-conferencing">
                                            Video Conferencing</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                    href="/what-we-do/print-document-solutions/print-devices">
                                    <i class="icon-line-printer"></i>
                                    Print &amp; Document Solutions</a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a
                                            href="/what-we-do/print-document-solutions/print-devices">
                                            Print Devices</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/print-document-solutions/print-software-solutions">
                                            Print Software Solutions</a>
                                    </li>

                                    <li class=" ">
                                        <a
                                            href="/what-we-do/print-document-solutions/managed-print-services">
                                            Managed Print Services</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/who-we-are/our-story">Who We Are</a>
                        <ul class="dropdown-menu">
                            <li class=" ">
                                <a href="/who-we-are/our-story"> <i class="icon-book2"></i>
                                    Our Story</a>
                            </li>

                            <li class=" ">
                                <a href="/who-we-are/our-clients"> <i
                                        class="icon-star"></i>
                                    Our Clients</a>
                            </li>

                            <li class=" ">
                                <a href="/who-we-are/our-partners"> <i
                                        class="icon-line-head"></i>
                                    Our Partners</a>
                            </li>

                            <li class=" ">
                                <a href="/who-we-are/our-case-studies"> <i
                                        class="icon-line-heart"></i>
                                    Our Case Studies</a>
                            </li>

                            <li class=" ">
                                <a href="/who-we-are/our-team"> <i
                                        class="icon-line-loader"></i>
                                    Our Team</a>
                            </li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/blog">Insights</a>
                        <ul class="dropdown-menu">
                            <li class=" ">
                                <a href="/blog"> <i class="icon-bubble"></i>
                                    News &amp; Blog</a>
                            </li>

                            <li class=" ">
                                <a href="/resources"> <i class="icon-line-paper"></i>
                                    Resources</a>
                            </li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/get-touch/contact-us">Get In Touch</a>
                        <ul class="dropdown-menu">
                            <li class=" ">
                                <a href="/get-touch/work-us"> <i
                                        class="icon-line2-briefcase"></i>
                                    Work With Us</a>
                            </li>

                            <li class=" ">
                                <a href="/client-support"> <i class="icon-line-bell"></i>
                                    Client Support</a>
                            </li>

                            <li class=" ">
                                <a href="/get-touch/contact-us"> <i
                                        class="icon-line-mail"></i>
                                    Contact Us</a>
                            </li>

                        </ul>
                    </li>



                </ul>


            </div>
            <div class="navbar-mobile-overlay">
            </div>
            <div class="search_form" style="display:none">
                <form action="/search" method="get">
                    <input name="q" type="text" placeholder="TYPE & HIT ENTER..." id="txtSearch" autocomplete="off">
                    <i class="icon-line-cross" id="SearchClose" aria-hidden="true"></i>
                </form>
            </div>

        </div>

    </nav>
    <script>
        //function toogleSearchForm() 
        //{
        //$('.search_form').toggle();
        //}
        $("#SearchOpen").click(function () {
            $('.search_form').show();
            $('#txtSearch').focus();

        });
        $("#SearchClose").click(function () {
            $('.search_form').hide();
        });
    </script>
</header>
