<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators" style="top: 430px;">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item">
            <div class="home-video1">
                <video poster="{{"/img/intro1.jpg" | relURL }}" class="homepage-video hook_video-bg no_laxy" width="100%" autoplay="autoplay" preload="auto" muted="" loop="">
                    <source src="{{"/video/intro1.mp4" | relURL }}" type="video/mp4">
                    <source src="{{"/video/intro1.ogv" | relURL }}" type="video/ogg; codecs=theora, vorbis">
                    <source src="{{"/video/intro1.webm" | relURL }}" type="video/webm; codecs=vp8, vorbis">
                        Your browser does not support the HTML5 video tag. Try updating your browser or using a different one.                        
                </video>
                <img src="{{"/img/homepage-banner1.jpg" | relURL }}" class="homepage-image" style="width: 100%; display: none;">
                <div class="container">
                    <div class="innerContainer">
                        <div class="home-video-caption" id="home-video-caption1" style="top: 119px;">
                            Set your business<br> soaring with <strong>Cloud <br>Technology</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-video-info darkBG clear-fix TextWhite">
                <div class="container">
                    <div class="innerContainer">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Cloud means no stress IT.</h2>
                                <p>High performance, low fees, fully managed,    and more secure than ever before.</p>
                            </div>
                            <div class="col-md-5">
                                <a href="/what-we-do/cloud/office-365" class="borderBtn borderBtnArrow marTop40">Learn how</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="home-video2">
                <video poster="/themes/huon/assets/video/intro2.jpg" class="homepage-video hook_video-bg no_laxy" width="100%" autoplay="autoplay" preload="auto" muted="" loop="">
                    <source src="/themes/huon/assets/video/intro2.mp4" type="video/mp4">
                    <source src="/themes/huon/assets/video/intro2.ogv" type="video/ogg; codecs=theora, vorbis">
                    <source src="/themes/huon/assets/video/intro2.webm" type="video/webm; codecs=vp8, vorbis">
                    Your browser does not support the HTML5 video tag. Try updating your browser or using a different one.
                </video>
                <img src="/themes/huon/assets/images/homepage-banner2.jpg" class="homepage-image" style="width: 100%; display: none;">
                <div class="container">
                    <div class="innerContainer">
                        <div class="home-video-caption" style="top: 119px;">
                            <strong>Managed IT Security:</strong> <br>business under lock &amp; key
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-video-info darkBG clear-fix TextWhite">
                <div class="container">
                    <div class="innerContainer">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Cyber security risks aren't going away. </h2>
                                <p>Get expert advice &amp; services to ensure your business is protected, inside and out.</p>
                            </div>
                            <div class="col-md-5">
                                <a href="/what-we-do/security-networking/security-as-service" class="borderBtn borderBtnArrow marTop40">Get protected</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item active left">
            <div class="home-video3">
                <video poster="/themes/huon/assets/video/intro3.jpg" class="homepage-video hook_video-bg no_laxy" width="100%" autoplay="autoplay" preload="auto" muted="" loop="">
                    <source src="/themes/huon/assets/video/intro3.mp4" type="video/mp4">
                    <source src="/themes/huon/assets/video/intro3.ogv" type="video/ogg; codecs=theora, vorbis">
                    <source src="/themes/huon/assets/video/intro3.webm" type="video/webm; codecs=vp8, vorbis">
                    Your browser does not support the HTML5 video tag. Try updating your browser or using a different one.
                </video>
                <img src="/themes/huon/assets/images/homepage-banner3.jpg" class="homepage-image" style="width: 100%; display: none;">
                <div class="container">
                    <div class="innerContainer">
                        <div class="home-video-caption" style="top: 119px;">
                            Around the clock <br><strong>IT Support</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-video-info darkBG clear-fix TextWhite">
                <div class="container">
                    <div class="innerContainer">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Business never stops, so neither can your IT.</h2>
                                <p>Meet our local team of experts working 24x7 to support Australian businesses.</p>
                            </div>
                            <div class="col-md-5">
                                <a href="/what-we-do/managed-services/ad-hoc-block-hours-onsite-support" class="borderBtn borderBtnArrow marTop40">Read more</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item next left">
            <div class="home-video4">
                <video poster="/themes/huon/assets/video/intro4.jpg" class="homepage-video hook_video-bg no_laxy" width="100%" autoplay="autoplay" preload="auto" muted="" loop="">
                    <source src="/themes/huon/assets/video/intro4.mp4" type="video/mp4">
                    <source src="/themes/huon/assets/video/intro4.ogv" type="video/ogg; codecs=theora, vorbis">
                    <source src="/themes/huon/assets/video/intro4.webm" type="video/webm; codecs=vp8, vorbis">
                    Your browser does not support the HTML5 video tag. Try updating your browser or using a different one.
                </video>
                <img src="/themes/huon/assets/images/homepage-banner4.jpg" class="homepage-image" style="width: 100%; display: none;">
                <div class="container">
                    <div class="innerContainer">
                        <div class="home-video-caption" style="top: 119px;">
                            <strong>IT Strategy</strong><br> is a team effort.
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-video-info darkBG clear-fix TextWhite">
                <div class="container">
                    <div class="innerContainer">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Align IT with your business goals.</h2>
                                <p>Engage our experts to help find the right IT strategy for your business success.</p>
                            </div>
                            <div class="col-md-5">
                                <a href="/what-we-do/strategy/it-health-checks" class="borderBtn borderBtnArrow marTop40">Get advice
                                    </a>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</div>